# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/

# production
build

# local env files
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Backup and Settings
node_modules_bak/
.vscode/
